NODE_ENV=development
APP_URL=https://velxo.shop
API_URL=https://velxo.onrender.com
NEXT_PUBLIC_SUPABASE_URL=https://jusoplcxhkdmkaxtesvv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVDCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1c29wbGN4aGtkbWtheHRlc3Z2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzI3ODE3MiwiZXhwIjoyMDk4ODU0MTcyfQ.yJQCGLpK7AJMf-B4PkKRdZYpirzYJBx6cKJ9Y6kfkM8
NEXT_PUBLIC_API_URL=https://velxo.onrender.com/api/v1
CORS_ORIGIN=https://velxo.onrender.com
SUPABASE_URL=https://jusoplcxhkdmkaxtesvv.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1c29wbGN4aGtkbWtheHRlc3Z2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyNzgxNzIsImV4cCI6MjA5ODg1NDE3Mn0.u9df_6MDVJtvesh_YYMLksrf3l8jG5ZfTlshPO7xLRs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVDCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1c29wbGN4aGtkbWtheHRlc3Z2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MzI3ODE3MiwiZXhwIjoyMDk4ODU0MTcyfQ.yJQCGLpK7AJMf-B4PkKRdZYpirzYJBx6cKJ9Y6kfkM8
JWT_SECRET=TmhvG8500H8m9QPv60YvPmQbOlXS/VjBG5HlGd8ERjqNqU411jeNwrGg+KgEPyicP2okmICQuvzc1d09ckvwYg==
JWT_EXPIRES_IN=60000s
FLUTTERWAVE_PUBLIC_KEY=
FLUTTERWAVE_SECRET_KEY=
FLUTTERWAVE_WEBHOOK_SECRET=
PAYMENT_IO_API_KEY=
PAYMENT_IO_WEBHOOK_SECRET=
RESEND_API_KEY=re_FaY9q4DL_AemcuWQbdWrVQYr5ejTj897J
EMAIL_FROM=noreply@velxo.shop
SUPABASE_JWT_SECRET=ae14abea-8942-4134-875f-7585c9c1ed46
